<div class="container">

		<div id="messageArea" class="row">
			<div class="col-md-4">
				<div class="well">
					<p id="welcome"></p>
					<h3>Online Users</h3>
					<ul class="list-group" id="users"></ul>
				</div>
			</div>
			<div class="col-md-8">
				<h4 id="msgTo"></h4>
				<div id="chat"></div>
				<form id="MessageForm">
					<div class="form-group" id="formGroup">
						<label>Enter Message!</label>
						<textarea id="message" class="form-control"></textarea>
						<br>
						<input type="submit" class="btn btn-primary" value="Send Message">
					</div>
				</form>
			</div>
		</div>

		
	</div>
